@model ProyectoJackeNail.Models.Insumo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Insumo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImagenInsumo" class="control-label"></label>
                <input asp-for="ImagenInsumo" class="form-control" />
                <span asp-validation-for="ImagenInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreInsumo" class="control-label"></label>
                <input asp-for="NombreInsumo" class="form-control" />
                <span asp-validation-for="NombreInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadInsumo" class="control-label"></label>
                <input asp-for="CantidadInsumo" class="form-control" />
                <span asp-validation-for="CantidadInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsosDisponibles" class="control-label"></label>
                <input asp-for="UsosDisponibles" class="form-control" />
                <span asp-validation-for="UsosDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoInsumo" class="control-label"></label>
                <input asp-for="EstadoInsumo" class="form-control" />
                <span asp-validation-for="EstadoInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
