@model ProyectoJackeNail.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-3xl font-bold underline text-center">Crear Usuario</h1>
<br />

<main class="container py-5" role="main">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="grid gap-4 mb-4 md:grid-cols-2">
            <form asp-action="Create" id="createForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreUsuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de Usuario</label>
                    <input asp-for="NombreUsuario" id="NombreUsuario" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block w-64 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoUsuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido de Usuario</label>
                    <input asp-for="ApellidoUsuario" id="ApellidoUsuario" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block w-64 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apellido" />
                    <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electrónico</label>
                    <input asp-for="Correo" id="Correo" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block w-64 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Correo" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                    <input asp-for="Telefono" id="Telefono" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block w-64 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Teléfono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RolId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rol</label>
                    <select asp-for="RolId" id="RolId" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block w-64 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-items="ViewBag.RolId">
                        <option value="">Seleccione un rol</option>
                    </select>
                    <span asp-validation-for="RolId" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center align-items-center">
                    <button type="submit" value="Create" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Crear</button>
                </div>
            </form>
            <div class="image-container">
                <!-- Aquí puedes insertar tu imagen -->
                <img src="~/manicuraa.png" alt="descripción de la imagen">
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('createForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var NombreUsuario = document.getElementById('NombreUsuario').value.trim();
            var ApellidoUsuario = document.getElementById('ApellidoUsuario').value.trim();
            var Correo = document.getElementById('Correo').value.trim();
            var Telefono = document.getElementById('Telefono').value.trim();
            var RolId = document.getElementById('RolId').value.trim();

            if (NombreUsuario == '' || ApellidoUsuario == '' || Correo == '' || Telefono == '' || RolId == '') {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Por favor, complete todos los campos.",
                });
            } else {
                Swal.fire({
                    title: "¿Desea guardar este registro?",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, guardar",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Aquí puedes enviar el formulario
                        document.getElementById('createForm').submit();
                    }
                });
            }
        });
    </script>
}
